name: Publish Pushkit to NuGet

on:
  push:
    tags:
      - 'v[0-9]+.*'

  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish (e.g., 1.0.0)'
        required: true
        default: '1.0.0'

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # -------------------------
    # Extract Version from Tag (v1.0.1 -> 1.0.1)
    # -------------------------
    - name: Extract version
      id: get_version
      run: |
        TAG=${GITHUB_REF#refs/tags/}
        VERSION=${TAG#v}
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    # -------------------------
    # Setup .NET
    # -------------------------
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "10.0.x"

    # -------------------------
    # Restore, Build & Pack ONLY Pushkit.core
    # -------------------------
    - name: Restore dependencies
      run: dotnet restore src/PushKit.Core/PushKit.Core.csproj

    - name: Build
      run: |
        VERSION=${{ steps.get_version.outputs.version }}
        dotnet build src/PushKit.Core/PushKit.Core.csproj \
          --configuration Release \
          --no-restore \
          /p:Version=$VERSION

    - name: Pack
      run: |
        VERSION=${{ steps.get_version.outputs.version }}
        dotnet pack src/PushKit.Core/PushKit.Core.csproj \
          --configuration Release \
          --output ./nupkg \
          --no-build \
          /p:PackageVersion=$VERSION \
          /p:Version=$VERSION

    # -------------------------
    # Publish to NuGet
    # -------------------------
    - name: Publish to NuGet
      run: |
        dotnet nuget push ./nupkg/Pushkit.core.*.nupkg \
          --api-key "${{ secrets.NUGET_API_KEY }}" \
          --source "https://api.nuget.org/v3/index.json" \
          --skip-duplicate
